.App {
  text-align: center;
}
.app {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
}

.chat-box {
  width: 300px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.chat-box-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.close-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.chat-box-messages {
  max-height: 200px;
  overflow-y: auto;
}

.message {
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.self {
  background-color: #b4bcbe;
  align-self: flex-end;
}

.other {
  background-color: #e3e3e3;
  align-self: flex-start;
}

.chat-box-input {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

textarea {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #656363;
  resize: none;
  border-style: dashed;
}

button {
  margin-top: 10px;
  margin-left: 10px;
  background-color: #1b1b1b;
  color: rgb(246, 242, 242);
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
